---
const { title, description, url = Astro.url, image, robots } = Astro.props;
import { siteConfig } from "../../site-config";
---

<!-- SEO -->
<title>{title || siteConfig.title}</title>
<meta property="description" content={description || siteConfig.description} />
<meta name="robots" content={robots || "index, follow"} />
<link rel="canonical" href={url} />

<!-- Open Graph -->
<meta property="og:site_name" content={siteConfig.name} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title || siteConfig.title} />
<meta property="og:image" content={image || siteConfig.ogImage} />
<meta property="og:image:url" content={image || siteConfig.ogImage} />
<meta property="og:image:secure_url" content={image || siteConfig.ogImage} />
<meta
  property="og:description"
  content={description || siteConfig.description}
/>
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta name="twitter:title" content={title || siteConfig.title} />
<meta
  name="twitter:description"
  content={description || siteConfig.description}
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={image || siteConfig.ogImage} />
<meta name="twitter:image:alt" content={title || siteConfig.title} />
<meta name="twitter:site" content={siteConfig.social.twitter} />

<!-- Sitemap -->
<link rel="
  sitemap" href="/sitemap-index.xml" />
