---

---

<div class="flex flex-col">
  <div class="mb-4 rounded-lg border overflow-hidden">
    <slot name="image" />
  </div>
  <div class="text-base tracking-tight font-semibold mb-2">
    <slot name="title" />
  </div>
  <div class="text-sm">
    <slot name="description" />
  </div>
</div>
