---
const { title } = Astro.props;
---

<div class="mx-auto grid justify-center grid-cols-1 lg:grid-cols-2 gap-5">
  <div class="lg:order-first relative overflow-hidden">
    <div class="flex flex-col">
      <div class="font-semibold tracking-tight text-xl">{title}</div>
      <p class="text-muted-foreground">
        <slot name="description" />
      </p>
    </div>
  </div>
  <div
    class="order-first relative overflow-hidden rounded-lg border !mt-0 bg-slate-100 p-0"
  >
    <div class="aspect-video">
      <slot name="image" />
    </div>
  </div>
</div>
