---
// import { LogoIcon } from "./icons";
import Logo from "@/components/logo.astro";
import { siteConfig } from "../../site-config";
---

<header class="z-40 bg-background !mt-0">
  <style>
    header.header {
      display: none !important;
    }
  </style>
  <div class="flex h-12 items-center justify-between w-full">
    <div class="flex gap-6 md:gap-10 w-full justify-between">
      <a href="/" class="flex gap-2 items-center no-underline">
        <Logo />
      </a>
      <nav class="flex items-center gap-3 md:gap-6">
        {
          siteConfig.mainNav?.map((item, index) => (
            <a
              href={item.href}
              class="flex items-center font-medium transition-colors hover:text-foreground/80 text-sm no-underline"
              target={item.target ?? "_self"}
            >
              {item.title}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
