---
import type { Props } from "@astrojs/starlight/props";

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
---

<div>
  {title}
  <div>{tagline}</div>
</div>
