---
import { LogoIcon } from "./icons";
import { siteConfig } from "../../site-config";
---

<header class="container z-40 bg-background">
  <div class="flex h-20 items-center justify-between py-6 w-full">
    <div class="flex gap-6 md:gap-10 w-full justify-between">
      <a href="/" class="flex items-center space-x-2">
        <LogoIcon size={20} />
        <span class="font-medium sm:inline-block hidden md:flex">
          {siteConfig.name}
        </span>
      </a>
      <nav class="flex items-center gap-3 md:gap-6">
        {
          siteConfig.mainNav?.map((item, index) => (
            <a
              href={item.href}
              class="flex items-center font-medium transition-colors hover:text-foreground/80 text-sm"
              target={item.target ?? "_self"}
            >
              {item.title}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
