body .page {
  min-height: 0;
}

body .page header.header {
  display: none;
}

body .page div.main-frame {
  padding-top: 0;
}

body .page div.main-frame div.content-panel {
}

body div.sl-markdown-content {
  margin-top: 0;
}

.sl-markdown-content
  :not(a, strong, em, del, span, input, code)
  + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
  margin-top: 0;
}
