---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import Feature from "@/components/feature.astro";
import { siteConfig } from "../../site-config";
import App from "@/components/app/app";
import "@/styles/fonts.css";
import "@/styles/splash.css";
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{ template: "splash", title: siteConfig.description, hero: {} }}
  class:list={["mx-auto"]}
>
  <!-- <style set:html={getFontsInStyle()}></style> -->
  <Header />
  <section class="w-full py-12">
    <div class="my-8">
      <div class="mx-auto w-full text-center relative">
        <span class="text-center text-4xl font-bold tracking-tighter">
          dgm.js
        </span>
        <span
          class="absolute bg-slate-200 text-slate-700 text-xs px-3 py-1 rounded-full ml-2"
          >beta</span
        >
      </div>
      <p
        class="text-2xl text-slate-400 text-center sm:leading-8 mt-1 font-hand"
      >
        {siteConfig.description}
      </p>
    </div>
    <div class="flex items-center justify-center gap-4">
      <a
        href="/getting-started/quick-start"
        class="rounded-full font-medium py-3 w-40 !text-white bg-black no-underline text-sm flex justify-center"
        )}>Get Started</a
      >
      <a
        href="https://dgm.sh"
        class="rounded-full font-medium py-3 no-underline w-40 flex gap-2 items-center justify-center text-sm bg-slate-200"
        target="_blank"
        )}
      >
        <img class="h-5 w-5" alt="logo" src="/logo-light.svg" />
        <span>DGM App</span>
      </a>
    </div>
  </section>
  <section class="my-10 justify-center hidden lg:flex px-8 py-8">
    <div class="relative w-full h-[640px]">
      <App client:only />
    </div>
  </section>
  <section class="my-10 flex justify-center lg:hidden">
    <div class="relative w-full h-[640px]">
      <img src="https://fs.dgm.sh/i/7GS5SV8W3uojHd3cbfVzJ/lf@1x.png" alt="" />
    </div>
  </section>
  <section id="features" class="space-y-12">
    <Feature
      title="Smart shapes"
      description="You can define a composite shape with constraints, exntended properties, and scripts, ..."
    />
    <Feature
      title="Hand-drawn style"
      description="dgm.js powered by awesome rough.js to support hand-drawn style shapes"
    />
    <Feature
      title="Scripting support"
      description="You can write a simple script to define how to render a shape instead of tedious compositing lots of shapes"
    />
    <Feature
      title="Theme-adaptive colors"
      description="Colors are automatically adapted to light or dark mode."
    />
    <Feature
      title="Headless components"
      description="dgm.js don't have it's own styles, do you can use with your own styles (CSS, tailwind CSS, styled-components, ...)"
    />
    <Feature
      title="Image export"
      description="You can export diagram to PNG, JPEG, SVG images"
    />
    <Feature
      title="Realtime collaboration"
      description="You can collaborate with your team in real-time."
    />
    <Feature
      title="Another one-more feature"
      description="another feature..."
    />
  </section>
  <Footer />
</StarlightPage>
