---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import Feature from "@/components/feature.astro";
import { siteConfig } from "../../site-config";
import "@/styles/splash.css";
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{ template: "splash", title: "My custom page", hero: {} }}
  class:list={["mx-auto"]}
>
  <Header />
  <section class="w-full">
    <div class="my-10">
      <div class="mx-auto w-full text-center my-1">
        <span class="text-center text-4xl font-semibold tracking-tighter">
          dgm.js
        </span>
        <!-- <Badge variant="secondary" className="absolute font-normal ml-2"
          >beta</Badge
        > -->
      </div>
      <p class="text-xl text-muted-foreground text-center sm:leading-8">
        {siteConfig.description}
      </p>
    </div>
  </section>
  <section class="text-center my-12">
    <div class="flex items-center justify-center gap-4">
      <!-- <a
        href="https://dgmjs.dev/getting-started/quick-start"
        class={cn(buttonVariants({ variant: "default" }), "rounded-full px-8")}
        >Get Started</a
      >
      <a
        href={siteConfig.social.github}
        class={cn(buttonVariants({ variant: "secondary" }), "rounded-full")}
        >View on Github</a
      > -->
    </div>
  </section>
  <section class="my-10 flex justify-center">
    <div>
      <img src="/images/cover.png" alt="Hero" class="w-full mx-auto" />
    </div>
  </section>
  <section id="features" class="space-y-12">
    <Feature
      title="Smart shapes"
      description="You can define a composite shape with constraints, exntended properties, and scripts, ..."
    />
    <Feature
      title="Hand-drawn style"
      description="dgm.js powered by awesome rough.js to support hand-drawn style shapes"
    />
    <Feature
      title="Scripting support"
      description="You can write a simple script to define how to render a shape instead of tedious compositing lots of shapes"
    />
    <Feature
      title="Theme-adaptive colors"
      description="Colors are automatically adapted to light or dark mode."
    />
    <Feature
      title="Headless components"
      description="dgm.js don't have it's own styles, do you can use with your own styles (CSS, tailwind CSS, styled-components, ...)"
    />
    <Feature
      title="Image export"
      description="You can export diagram to PNG, JPEG, SVG images"
    />
    <Feature
      title="Realtime collaboration"
      description="You can collaborate with your team in real-time."
    />
    <Feature
      title="Another one-more feature"
      description="another feature..."
    />
  </section>
  <Footer />
</StarlightPage>
