---
import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
---

<Layout>
  <Header />
  <section class="space-y-6">
    <div class="container">
      <h1>License</h1>
      <p>
        tldraw's source code and distributed packages are provided under the
        non-commercial tldraw license. This license does not permit commercial
        use. If you wish to use tldraw in a commercial product or enterprise,
        you will need to purchase a commercial license. To obtain a commercial
        license, please contact us at sales@tldraw.com.
      </p>
    </div>
  </section>
  <Footer />
</Layout>
